<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>{{ result }} >> {{ count }} times</div>
        <bomb-button :is-bomb= "true" @bomb="bomb" @click="clickBoom"></bomb-button>  
        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button>  
        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button> <br>

        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button>  
        <bomb-button :is-bomb= "true" @bomb="bomb" @click="clickBoom"></bomb-button>  
        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button> <br>

        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button>  
        <bomb-button @bomb="bomb" @click="clickBoom"></bomb-button> 
         <bomb-button :is-bomb= "true" @bomb="bomb" @click="clickBoom"></bomb-button> 
    </div>
   <script type="text/x-template" id="bomb-button">
    <button style="width: 60px;height: 60px; font-size: 40px;" @click="openBomb">{{ value }}</button>
   </script>
    <script>
        Vue.component('bomb-button', {
            props:{
                isBomb: Boolean
            },
            data: function () {
                return {
                    value: '-',
                    clicked: false
                }
            },
            methods: {
                openBomb: function () {
                    if(this.clicked) return
                    this.clicked = true
                    this.$emit('click')
                    
                    if (!this.isBomb) return
                    this.value = '*'
                    this.$emit('bomb')
                }
            },
            template:'#bomb-button' 
        })

        new Vue({
            el: '#app',
            data: {
                result: '',
                count: 0
            },
            methods: {
                clickBoom: function(){
                    this.count++
                },
                bomb: function(){
                    console.log('Boom!')
                    this.result = "You lose!!"
                }
            },
        })
    </script>
</body>
</html>